@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  background-color: #cafdff;
}

.header {
  background-color: #eadcff;
}

section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.logo {
  width: 300px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  padding-left: 16px;
}
